---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "ffwCvdMctkfT3r3dZATOA9TZuck",
          "items": [],
          "pageInfo": {
            "totalResults": 0,
            "resultsPerPage": 0
          }
        }
  recorded_at: Wed, 08 Jul 2020 23:41:46 GMT
recorded_with: VCR 5.1.0
