---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4948'
      X-Ratelimit-Reset:
      - '1594176270'
      Etag:
      - W/"b80d7412da553611da290f3367904709"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":253611903,"node_id":"MDEwOlJlcG9zaXRvcnkyNTM2MTE5MDM=","name":"futbol","full_name":"Ashkanthegreat/futbol","private":false,"owner":{"login":"Ashkanthegreat","id":47463190,"node_id":"MDQ6VXNlcjQ3NDYzMTkw","avatar_url":"https://avatars3.githubusercontent.com/u/47463190?v=4","gravatar_id":"","url":"https://api.github.com/users/Ashkanthegreat","html_url":"https://github.com/Ashkanthegreat","followers_url":"https://api.github.com/users/Ashkanthegreat/followers","following_url":"https://api.github.com/users/Ashkanthegreat/following{/other_user}","gists_url":"https://api.github.com/users/Ashkanthegreat/gists{/gist_id}","starred_url":"https://api.github.com/users/Ashkanthegreat/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Ashkanthegreat/subscriptions","organizations_url":"https://api.github.com/users/Ashkanthegreat/orgs","repos_url":"https://api.github.com/users/Ashkanthegreat/repos","events_url":"https://api.github.com/users/Ashkanthegreat/events{/privacy}","received_events_url":"https://api.github.com/users/Ashkanthegreat/received_events","type":"User","site_admin":false},"html_url":"https://github.com/Ashkanthegreat/futbol","description":null,"fork":true,"url":"https://api.github.com/repos/Ashkanthegreat/futbol","forks_url":"https://api.github.com/repos/Ashkanthegreat/futbol/forks","keys_url":"https://api.github.com/repos/Ashkanthegreat/futbol/keys{/key_id}","collaborators_url":"https://api.github.com/repos/Ashkanthegreat/futbol/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/Ashkanthegreat/futbol/teams","hooks_url":"https://api.github.com/repos/Ashkanthegreat/futbol/hooks","issue_events_url":"https://api.github.com/repos/Ashkanthegreat/futbol/issues/events{/number}","events_url":"https://api.github.com/repos/Ashkanthegreat/futbol/events","assignees_url":"https://api.github.com/repos/Ashkanthegreat/futbol/assignees{/user}","branches_url":"https://api.github.com/repos/Ashkanthegreat/futbol/branches{/branch}","tags_url":"https://api.github.com/repos/Ashkanthegreat/futbol/tags","blobs_url":"https://api.github.com/repos/Ashkanthegreat/futbol/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/Ashkanthegreat/futbol/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/Ashkanthegreat/futbol/git/refs{/sha}","trees_url":"https://api.github.com/repos/Ashkanthegreat/futbol/git/trees{/sha}","statuses_url":"https://api.github.com/repos/Ashkanthegreat/futbol/statuses/{sha}","languages_url":"https://api.github.com/repos/Ashkanthegreat/futbol/languages","stargazers_url":"https://api.github.com/repos/Ashkanthegreat/futbol/stargazers","contributors_url":"https://api.github.com/repos/Ashkanthegreat/futbol/contributors","subscribers_url":"https://api.github.com/repos/Ashkanthegreat/futbol/subscribers","subscription_url":"https://api.github.com/repos/Ashkanthegreat/futbol/subscription","commits_url":"https://api.github.com/repos/Ashkanthegreat/futbol/commits{/sha}","git_commits_url":"https://api.github.com/repos/Ashkanthegreat/futbol/git/commits{/sha}","comments_url":"https://api.github.com/repos/Ashkanthegreat/futbol/comments{/number}","issue_comment_url":"https://api.github.com/repos/Ashkanthegreat/futbol/issues/comments{/number}","contents_url":"https://api.github.com/repos/Ashkanthegreat/futbol/contents/{+path}","compare_url":"https://api.github.com/repos/Ashkanthegreat/futbol/compare/{base}...{head}","merges_url":"https://api.github.com/repos/Ashkanthegreat/futbol/merges","archive_url":"https://api.github.com/repos/Ashkanthegreat/futbol/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/Ashkanthegreat/futbol/downloads","issues_url":"https://api.github.com/repos/Ashkanthegreat/futbol/issues{/number}","pulls_url":"https://api.github.com/repos/Ashkanthegreat/futbol/pulls{/number}","milestones_url":"https://api.github.com/repos/Ashkanthegreat/futbol/milestones{/number}","notifications_url":"https://api.github.com/repos/Ashkanthegreat/futbol/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/Ashkanthegreat/futbol/labels{/name}","releases_url":"https://api.github.com/repos/Ashkanthegreat/futbol/releases{/id}","deployments_url":"https://api.github.com/repos/Ashkanthegreat/futbol/deployments","created_at":"2020-04-06T20:47:44Z","updated_at":"2020-05-22T17:51:00Z","pushed_at":"2020-05-22T17:50:57Z","git_url":"git://github.com/Ashkanthegreat/futbol.git","ssh_url":"git@github.com:Ashkanthegreat/futbol.git","clone_url":"https://github.com/Ashkanthegreat/futbol.git","svn_url":"https://github.com/Ashkanthegreat/futbol","homepage":null,"size":405,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":1,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":263117449,"node_id":"MDEwOlJlcG9zaXRvcnkyNjMxMTc0NDk=","name":"adopt_dont_shop_paired","full_name":"jhgould/adopt_dont_shop_paired","private":false,"owner":{"login":"jhgould","id":35248542,"node_id":"MDQ6VXNlcjM1MjQ4NTQy","avatar_url":"https://avatars3.githubusercontent.com/u/35248542?v=4","gravatar_id":"","url":"https://api.github.com/users/jhgould","html_url":"https://github.com/jhgould","followers_url":"https://api.github.com/users/jhgould/followers","following_url":"https://api.[...]
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4947'
      X-Ratelimit-Reset:
      - '1594176270'
      Etag:
      - W[...]
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4946'
      X-Ratelimit-Reset:
      - '1594176269'
      Etag:
      - W[...]
